
body {
  background-color: #EAEFEC;
  color: black;
  font-family: "Bahnschrift", sans-serif;
  font-weight: normal;
  margin: 0;
}


#wrapper {
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.box {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 5px 0.2px black;
  margin-bottom: 20px;
}

.green {
  background-color: #5D6C3C;
  color: white;
}

.orange {
  background-color: #CC6328;
  color: white;
}

.grey {
  background-color: #E5E5E5;
  color: black;
  border-radius: 6px;
  padding: 20px;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0px;
}

hr {
  background-image: url(../img/hrline.png);
  height: 6px;
  width: 100%;
  border: none;
  margin: 25px 0 25px 0;
}

.scaleImg {
  float: left;
  width: 100%;
  box-shadow: 0 0 5px 0.5px black;
  margin-bottom: 20px;
}

#allergenListe > ul{
  list-style-image: url('../Documents/IMG/smolblackpizza.png');

}

#allergenliste {
  background-color:#CC6328;

}

#allergenliste p {
  background-color: #CC6328;

}


table {
  margin: 50px 10px 10px 10px;
  margin: auto;
}

td {
  margin: 20px 10px 20px 10px;
  padding: 20px 50px 10px 20px;
  font-size: 30px;
}

@media  screen and (min-width: 1024px) {
  #wrapper {
    padding: 65px;
  }

  .table {
    display: table;
    height: 100%;
  }

  .box {
    margin-bottom: 65px;
  }

  .scaleImg {
    position: absolute;
    height: calc(100% - 65px);
    object-fit: cover;
    margin-bottom: 65px;
  }

  .col-50 {
    width: 47.5%;
    float: left;
    display: table-cell;
    height: 100%;
    position: relative;
    margin-right: 5%;
}

  .col-50 {
    width: 47.5%;
    float: left;
    display: table-cell;
    height: 100%;
    position: relative;
    margin-right: 5%;
  }

  .col-50:last-child, .col-50:last-child {
    margin-right: 0;
  }

}
