body {
    font-family: Bahnschrift, "Verdana", Verdana, serif;
    font-size: 12px;
    margin: 0;
}

#hamburger {
    display: block;
    width: 50px;
    height: 50px;
}

#hamburger img {
    width: 100%;
    height: 100%;
}
#navContent {
    display: none;
}

@media only screen and (min-width: 1024px) {
    #hamburger {
        display: none;
    }

    #navContent {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 77px;
        background: #333 url("../IMG/navbar-background.png");
    }

    #logo {
        display: inline-block;
        margin-top: 20px;
        padding: 0 10px;
        float: left;
        font-family: "Segoe Script", Verdana, "Verdana", serif;
        font-size: 28px;
        overflow: hidden;
    }

    #navContent li.rightnav {
        display: inline-block;
        overflow: hidden;
        float: right;
    }
    #navContent li img {
        max-height: 25px;
    }
    .rightnav a {
        overflow: hidden;
        display: block;
        color: white;
        text-align: center;
        padding: 30px 40px;
        text-decoration: none;
        font-size: 20px;
        min-width: 150px;
    }
    #logo a {
        padding: 30px 40px;
        text-align: left;
        text-decoration: none;
        color: white;
        margin: auto;
    }
    .rightnav a:hover {
        background:#A26A42;
    }
    header {
        margin: 0;
        padding: 0;
    }
}
