.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #EAEFEC;
    padding: 10px;
}
.grid-item {
    display: grid;
    grid-template-columns: 15% 5% 45% 35%;
    background-color: #5D6C3C;
    margin: 20px;
    padding: 10px;
    font-family: Bahnschrift, Verdana;
    color: white;

    text-align: left;
    box-shadow: 3px 3px 3px 3px grey;
}
.cooking-number{
    margin: 20px;
    font-size: 48px;
}
#stapled-line{

    border-left: 3px dashed white;





}
