body {
    font-family: Bahnschrift, "Verdana", Verdana, serif;
    font-size: 12px;
    margin: 0;
}

.navbar {
    background: #333 url("../IMG/navbar-background.png");
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hamburger img {
    height: 100%;
    width: 100%;
}

.hamburger {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: inherit;
    border: none;
}

.logoContainer {
    display: inline-block;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    margin: auto;
    width: fit-content;
    text-align: center;
}

.logo {
    font-family: "Segoe Script", Verdana, "Verdana", serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.navContent {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.navContentContainer {
    display: block;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.link:hover {

}

.navContent li {
    padding-top: 6px;
    width: 100%;
}

.navContent li:hover {
    background-color: #cc6328;
}

.navHidden {
    display: none;
}

.mobileContainer {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 1024px) {
    .hamburger {
        display: none;
    }

    .navHidden, .navContent {
        display: inline-block;
    }
}
