body {
    background-color: #ffece0;
    color: black;
    font-family: "Verdana", Verdana, serif;
}

.section {
    margin-top: 40px;
}

header {
    border-bottom: solid;
    border-width: 2px;
}

h2 span {
    font-size: small;
}

li {
    margin-top: 10px;
}

#wrapper {
    max-width: 720px;
    margin: 30px auto;
}

.mock {
    width: 100%;
    margin: auto;
}
