body {
    background-color: #eaefec;
    color: black;
    font-family: "Verdana", Verdana, serif;
}
.section {
    margin-top: 60px;

}
.section h2{
    color: black;
    background-color: #f8d78e;
    border-color: #cc6328;
    border-style: outset;
    border-width: 3px;
    text-align: center;
}

header {
    border-bottom: solid;
    border-width: 2px;
}

h2 span {
    font-size: small;
}

li {
    margin-top: 10px;
}

#wrapper {
    max-width: 720px;
    margin: 30px auto;
}

.mock {
    width: 100%;
    margin: 20px auto;

}
#mappestruktur{
    width: 40%;
    margin: auto;
}

table {
  width: 100%;
}

td,th{
    border: solid;
    border-width: 2px;
    padding: 8px;
    text-align: center
}
tbody tr:nth-child(2n+1){
    background-color: #80ffb3;
    color: black;
}
.graphs{
    width: 50%;
    margin: 0 25%;
}
.graphs img{
    width: 100%;
}